version: '3.8'
services:
    db:
      image: mysql:latest
      container_name: bistime-db
      ports:
        - "3306:3306"
      command:
        - --character-set-server=utf8mb4
        - --collation-server=utf8mb4_unicode_ci
      volumes:
        - bistime-mysql:/var/lib/mysql
        - ./infra/mysql/initdb.d:/docker-entrypoint-initdb.d
      env_file:
        - .env
      environment:
        MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
        TZ: Asia/Seoul
    api:
      build: .
      container_name: bistime-api
      ports:
        - "8080:8080"
      depends_on:
        - db
      restart: always
      env_file:
        - .env
      environment:
        DJANGO_SETTINGS_MODULE: config.settings.deploy

    server:
      build: ./infra/nginx
      container_name: bistime-nginx
      ports:
        - "80:80"
        - "443:443"
      restart: always
      volumes:
        - ./certbot/data:/var/www/certbot
        - ./certbot/conf:/etc/nginx/ssl
      depends_on:
        - api
        - certbot

    certbot:
      image: certbot/certbot:latest
      container_name: bistime-certbot
      command: certonly --webroot --webroot-path=/var/www/certbot --email earthlyz9.dev@gmail.com --agree-tos --no-eff-email -d api.bistime.app
      volumes:
        - ./certbot/conf:/etc/letsencrypt
        - ./certbot/logs:/var/log/letsencrypt
        - ./certbot/data:/var/www/certbot

volumes:
  bistime-mysql: